[2015-12-11 02:36] tensor5 opened #1 "Unused shared libraries"
These are `namcap ` warnings for atom and electron packages, reproducible  with

[code]

[code]

(same output with `keyboard-layout-observer.node` and `cached-run-in-this-context.node`).

[2015-12-11 02:56] tensor5 opened #2 "Executable stack"
[code]

This should be because of the assembly code used in chromium.

[2015-12-11 03:14] tensor5 commented on #1
In `electron-0.35.4-1`, `/usr/lib/libcups.so.2` also appeared in the list of unused direct dependencies; this was fixed in ccb6897 by removing a `-lcups`. Removing `-lplc4` and `-lexpat` in the same file causes a link error.

[2016-02-19 07:26] #2 closed

[2016-02-19 10:08] 1dot75cm opened #3 "Module version mismatch"
I want to packaging atom for Fedora. But version mismatch when running with `electron usr/lib64/atom`.
[code]

I try to download and execution `electron atom.xz/`([atom.xz](http://noaxiom.org/atom/x86_64/atom-1.5.3-1-x86_64.pkg.tar.xz)). It works fine. However, i try to execution `electron atom.rpm/`([atom.rpm](https://copr-be.cloud.fedoraproject.org/results/mosquito/test/fedora-23-x86_64/00161033

[2016-02-19 14:14] tensor5 commented on #3
You need to build Atom using the same version of node/v8 headers that your electron uses.

The current version of electron includes node 5.1.1 which uses module version 47 (as you can see [here](https://github.com/atom/node/blob/a507a3c3816d6ac085ed46250c489a3d76ab8b3c/src/node_version.h#L52)).

You are trying to run an Atom that was built with an older version of node (0.10.*) that defines module

[2016-02-19 16:00] 1dot75cm commented on #3
Very grateful. Let me try.

[2016-02-19 20:14] 1dot75cm commented on #3
The `npm_config_target` flag is no effect. I just set up` ATOM_ELECTRON_VERSION` flag. Log is as follows

[set npm_config_target](https://copr-be.cloud.fedoraproject.org/results/mosquito/test/fedora-23-x86_64/00160918-atom/build.log.gz)
[code]

[set ATOM_ELECTRON_VERSION](https://copr-be.cloud.fedoraproject.org/results/mosquito/test/fedora-23-x86_64/00161416-atom/build.log.gz)
[code]

I think it m

[2016-02-20 09:23] tensor5 commented on #3
I remember  know.

Normally `apm` (the Atom package manager) has a logic to determine the electron version to use, and if that logic doesn't work it defaults to 0.22.0. I build apm separately and patch it to use the correct version of electron which is written on the file `/usr/lib/electron/version`. Take a look at the [PKGBUILD](https://github.com/tensor5/arch-atom/blob/master/apm/PKGBUILD) and t

[2016-02-20 10:53] 1dot75cm commented on #3
Yes, I see it. Initially, I do not know why we need this patch.
Thank you for your reply. This issue has been resolved.

Next, I want to compile the `electron` for Fedora.

[2016-02-22 07:48] tensor5 commented on #3
Good luck!

[2016-02-22 07:48] #3 closed

[2016-03-03 22:24] willotter opened #4 "Missing dependency libavcodec.so.56"
I got the following error trying to run atom after installing it:

`/usr/lib/electron/electron: error while loading shared libraries: libavcodec.so.56: cannot open shared object file: No such file or directory
`

There was a missing dependency. I installed `ffmpeg2.8-2.8.6-1` which seemed to solve the issue.

[2016-03-03 23:43] tensor5 commented on #4
`ffmpeg` is already a dependency of `electron` as you can see [here](https://github.com/tensor5/arch-atom/blob/master/electron/PKGBUILD#L12). It should have been installed automatically by pacman.

[2016-03-03 23:58] willotter commented on #4
Yeah I saw that. ffmpeg had been installed but think the package no longer provide `libavcodec.so.56` but the package `ffmpeg2.8` does. I suspect `ffmpeg` has been updated. I have included the detailed package descriptions below:
[code]

[2016-03-04 00:09] tensor5 commented on #4
Ops, I didn't notice the version change. So `readelf -d` shows

[code]

but `ffmpeg-1:3.0` provides `/usr/lib/libavcodec.so.57`. I will update that soon.
Thank you!

The strange thing is that `electron` works fine with me and my version of `ffmpeg` is 1:3.0.

[2016-03-04 00:13] willotter commented on #4
No problem. Do you have a copy of libavcodex.so.56? Wonder if it didn't get removed in the upgrade?

[2016-03-04 00:24] tensor5 commented on #4
I found that I have also `ffmpeg2.8` installed. Some packages still depend on it, must have been installed as a dependency when upgraded to 1:3.0.

[2016-03-05 08:42] #4 closed

[2016-03-28 06:14] tensor5 opened #5 "Electron fail to compile with system ICU"
Since v0.37.0, Electron uses Chromium 49 which causes the final link of libchromiumcontent to fail with:

[code]

For this reason we reverted to using bundled ICU in b1d42466dab81fcd19ba39cdd9f48b6ec3f8a797.

[2016-03-30 22:59] tirrorex opened #6 "Failed to get atom.db"
sudo pacman -Sy atom gives me 404 error, seems the request cannot get atom.db from noaxiom.org thus installation of atom is failing atom
Tried with atom-editor also as i wasn't sure which one is proper, same thing

[2016-03-31 00:48] tensor5 commented on #6
I tried `sudo pacman -Syy atom` right now and it works for me. Can you try again? It might be a temporary network problem.

[2016-03-31 01:26] tirrorex commented on #6
I can confirm i still have the same issue.
I had the repository by doing
1.  pacman-key -r B0544167
2. pacman-key -f B0544167
3. pacman-key --lsign-key B0544167
4. echo "[atom]
Server = http://noaxiom.org/$repo/$arch" >> /etc/pacman.conf
5. sudo pacman -Syy atom

atom.db requested url returned error: 404

[2016-03-31 06:46] tensor5 commented on #6
Can you navigate to http://noaxiom.org/atom/x86_64/ with your browser and download a package manually?

[2016-04-17 04:02] tensor5 opened #7 "Unbundling minizip fails"
With the [recent upgrade of `minizip`](https://projects.archlinux.org/svntogit/community.git/commit/trunk?h=packages/minizip&id=d95c6b6488e0a6f27165902fe48c1e4ba1ddfa55), compiling `libchromiumcontent` fails with:

[code]

Therefore unbundling `minizip` and `zlib` was disabled in 040a7e1b1bf99fc51fb9b305a327615751757db2.

[2016-04-17 04:05] tensor5 commented on #6
I assume the issue is solved.

[2016-04-17 04:05] #6 closed

[2016-04-23 07:17] tensor5 commented on #7
Found [minizip.patch](http://pastebin.com/raw/QCqSDam5) in [AUR's chromium-dev](https://aur.archlinux.org/cgit/aur.git/commit/?h=chromium-dev&id=b8806d9867717dd95cb29a09bd7ecf7d564aa54c).

[2016-04-23 07:21] #7 closed

[2016-04-28 07:06] wyea opened #8 "Error when start the Atom Package Manager"
Hi Nicola,
I'm getting the following error. It's more likely a nodejs problem though... But maybe you know how to fix it? It used to work fine a couple days ago...
Thanks

$ apm update --all
(node:6266) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
(node:6266) fs: re-evaluating native module sources is

[2016-04-28 07:27] tensor5 commented on #8
Thank you for reporting the issue, I didn't do `apm update` today so I missed it. It's due to `nodejs-6.0.0` and fix is on the way.

[2016-04-28 09:49] #8 closed

[2016-04-28 10:24] wyea commented on #8
Hi Nicola! Thank you so much for the fix!
Although now apm works, I'm still getting a warning I didn't have before... We should wait until the atom team updates the dependencies of the apm, I guess...
Thanks! :-)

[code]

[2016-04-28 11:41] tensor5 commented on #8
I notice that. Fortunately it does not affect the behavior of 'Packages and 'Updates' inside Atom's 'Settings'.
The problem is that upstream they ship an old vesion on Node (v0.10.40) together with apm, while we use Arch Linux's `nodejs` (I don't like duplication, which seems to be the trend nowadays).

[2016-04-28 16:39] willotter opened #9 "Atom Node 6 Incompatibility"
I have just update nodejs in Arch to v6.0.0. I don't think Atom is compatible with this version as I think it uses an old version of graceful-fs.

The bugs I am getting currently mean I can't install new packages. Here is the output I get from the featured packages page.
[code]

[2016-04-28 16:49] willotter commented on #9
Hi,
Sorry didn't see you had already pushed an update to fix this. Thanks very much for being so speedy :+1:

[2016-04-28 16:49] #9 closed

[2016-05-29 06:49] tensor5 commented on #1
As of Electron 1.2.0 (02abadd59ac7c616ec3c523951be514d78246f11) there are no more unused direct dependencies in that binary. However, for a more stable solution we should get rid of the `-Wl,--whole-archive` flag in [`brightray.gyp`](https://github.com/electron/brightray/blob/master/brightray.gyp).

[2016-05-29 07:06] tensor5 opened #10 "Build Electron with GTK+ 3"
This is done in the [`electron_gtk3`](https://github.com/tensor5/arch-atom/tree/electron_gtk3) branch.

Atom and Electron's default app crash on keypress. No problem arises during the build of libchromiumcontent, but there are some warnings from Electron:

[code]

Upstream issue [here](https://github.com/electron/electron/issues/2927).

[2016-05-31 23:14] wlhlm opened #11 "Failing GPG signature"
Trying to add the repository, pacman fails when checking the GPG signature when using the KeyID listed in the wiki. Did the key change?

[code]

The [wiki](https://wiki.archlinux.org/index.php/Unofficial_user_repositories#atom) says:

[2016-06-01 00:02] rumpelsepp commented on #11
Did you --lsign it?

[2016-06-01 02:29] tensor5 commented on #11
As @rumpelsepp said:

[code]

[2016-06-01 21:29] wlhlm commented on #11
Yes, that worked. I'll definitely have to step up my `pacman-key`-game, it's even in the wiki under ["adding unofficial keys"](https://wiki.archlinux.org/index.php/Pacman/Package_signing#Adding_unofficial_keys).

[2016-06-01 21:29] #11 closed

[2016-06-01 21:31] wlhlm commented on #11
Thanks for packaging Atom, BTW!

[2016-06-06 07:24] fusion809 opened #12 "Terminal Packages Fail on this Atom build"
Hi,

I have noticed that after switching from `atom-editor` to your package, I was asked to recompile my terminal packages (specifically [`terminal-plus`](https://github.com/jeremyramin/terminal-plus) and its fork [`platformio-ide-terminal`](https://github.com/platformio/platformio-atom-ide-terminal)). After they were re-compiled, however, when I tried to open a new terminal with them I was left w

[2016-06-06 07:49] fusion809 commented on #12
If it helps here is my developer's console log while attempting to load `terminal-plus`:

[code]

[2016-06-06 08:01] ivankravets commented on #12
@fusion809

1. What is the version of `platformio-ide-terminal`? Please install the latest version.
2. Did you set default shell? http://www.cyberciti.biz/faq/howto-change-linux-unix-freebsd-login-shell/

[2016-06-06 08:03] fusion809 commented on #12
Answers:

1. 2.0.10 I always use the latest of my packages, as soon as I get a notification that I'm using an outdated version of some of my packages I run `apm update`.
2. Yes using `chsh -s /bin/zsh`. Set for both root and my user account.

[2016-06-06 08:07] ivankravets commented on #12
I see the screenshot that you have attached above and it's very old terminal (the buttons are not located in the status bar).

Please go to `~/.atom/packages` and remove all `-*terminal*` packages. Then, install clean version of `platformio-ide-terminal`.

[2016-06-06 08:09] fusion809 commented on #12
That screenshot was with terminal-plus, I have tried with platformio-ide-terminal too (got the same result though), but I didn't show a screenshot of it. Here is `platformio-ide-terminal`'s screenshot:

![](http://i.imgur.com/7qnS5XE.png)

[2016-06-06 08:13] ivankravets commented on #12
Thanks! Could you share an output from the dev console? `View > Developer > Reload`

[2016-06-06 08:16] fusion809 commented on #12
[code]

[2016-06-06 08:22] ivankravets commented on #12
1. Install gcc compiler
2. `cd ~/.atom/packages/platformio-ide-terminal/node_modules/pty.js`
3. `npm install`
4. Check that `build/Release/pty.node` exists
5. Restart Atom.

[2016-06-06 08:27] fusion809 commented on #12
@ivankravets Just did and build/Release/pty.node does **not** exist. `npm install` gave the error:

[code]

[2016-06-06 08:29] tensor5 commented on #12
It must be related to the fact that we use electron 1.2.1, so the headers are different.

[2016-06-06 08:32] ivankravets commented on #12
1. Different headers
2. Different `npm`

Where is located `npm` in Atom/Linux Arh?  My Mac: `/Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/npm`. Try to rebuilt `gyp` module using Atom's `npm`. I mean, in 3-rd step from my guide please use Atom's `npm`. In my case, it would be:
[code]

[2016-06-06 08:33] fusion809 commented on #12
@tensor5 YW. I must admit I am a fan of this build of yours. Btw if you use Atom to edit your PKGBUILDs you may wish to install a package of mine [`language-archlinux`](https://atom.io/packages/language-archlinux) and its dependency [`language-unix-shell`](https://atom.io/packages/language-unix-shell), although it conflicts with the core package `language-shellscript` so you'll have to disable it

[2016-06-06 08:38] fusion809 commented on #12
@ivankravets Ah I don't even know where this package keeps its npm. @tensor5? Guessing you'd know.

[2016-06-06 08:41] tensor5 commented on #12
`npm` is system `/usr/bin/npm`
`apm` uses its own npm in `/usr/lib/node_modules/atom-package-manager/node_modules/npm`

[2016-06-06 08:43] fusion809 commented on #12
Ah `/usr/lib/node_modules/atom-package-manager/node_modules/npm install` returns `zsh: permission denied: /usr/lib/node_modules/atom-package-manager/node_modules/npm`. I tried running `sudo chmod +x /usr/lib/node_modules/atom-package-manager/node_modules/npm` but it made no difference.

[2016-06-06 08:45] tensor5 commented on #12
Sorry, I meant `/usr/lib/node_modules/atom-package-manager/node_modules/npm/bin/npm-cli.js`

[2016-06-06 08:59] fusion809 commented on #12
That returned:

[code]

[2016-06-06 09:27] tensor5 commented on #12
It works if you upgrade `nan` to the latest version:

[code]

in `package.json` change `"nan": "2.0.5"` into `"nan": "2.3.5"` and then run `npm install`.

We are compiling against the `node` headers here not `electron`, but it works for now. Meantime I'll think of a better solution.

[2016-06-06 09:32] fusion809 commented on #12
Aha! It works for me to. @ivankravets Is there any way of fixing this problem by modifying platformio-ide-terminal's package.json? Or maybe fork the [chjj/pty.js](https://github.com/chjj/pty.js) repo and adjust its nano version?

[2016-06-06 09:41] fusion809 commented on #12
I just forked [chjj/pty.js](https://github.com/fusion809/pty.js) myself, and made the necessary changes and published a 0.3.1 release. So replace the `pty.js` dependency to:

[code]

[2016-06-06 10:10] tensor5 commented on #12
In fact, it's safer to run `apm install` rather than `npm install` in `$HOME/.atom/packages/terminal-plus/node_modules/pty.js`. This way, it will compile against Electron's headers.

[2016-06-06 10:15] ivankravets commented on #12
1. This solution will work only for the people that have C/C++ compiler installed.2
2. In `platformio-ide-terminal` we have pre-built pty's backends for the most popular OS/Archs.
3. The 2 bridges Win/Unix uses 2.0.5 NAN and obsolete WinPty (2013) year.

The original author doesn't support this package. This PR https://github.com/platformio/platformio-atom-ide-terminal/pull/39 will not work at all

[2016-06-07 05:53] fusion809 opened #14 "tree-view fails to activate on start up of Atom 1.8.0"
Hi,

I started Atom, that I built myself using your PKGBUILD, after installing apm and electron OFC from this repo and I got this error:

![](http://i.imgur.com/xX6rnD6.png)

Here is the full error report:

--------------------------------------------------------------------------
[Enter steps to reproduce below:]

1. Started Atom (via running `atom .` in the git repo of this package)

**Atom Vers

[2016-06-07 08:16] tensor5 commented on #14
This is again caused by the fact that we use Electron 1.2, which is based on Node 6. To be precise it's this commit nodejs/node@08085c49b6e49ecfffd638c6cd46f4de639ae4f4. I'll see if I can make a patch and open a pull request.

[2016-06-07 08:45] tensor5 commented on #14
https://github.com/atom/tree-view/issues/863#issuecomment-224217556

[2016-06-07 11:05] #14 closed

[2016-06-14 01:29] tensor5 commented on #1
The `-Wl,--whole-archive` flag was removed from Electron in 10d31b6d51e0cffa9b960d41d0838f4ab1f21bf2. This fixes one part of this issue.

[2016-06-23 00:49] tensor5 commented on #10
Thanks to the brilliant solution of @nikolowry, as of v1.2.4 our build of Electron uses GTK+ 3.

I'll leave this issue open until we are sure that the build with the new option is completely stable.

[2016-06-23 01:06] tensor5 commented on #10
Text in the menu bar is white.

![screenshot from 2016-06-23 09-58-50](https://cloud.githubusercontent.com/assets/1545895/16288721/f4c2d9f6-3929-11e6-87fd-f32c5b0decb9.png)

[2016-06-23 04:32] chanakaDe opened #15 "Failed to download atom editor. Server timed out"
error: failed retrieving file 'atom-editor-1.7.2-1-x86_64.pkg.tar.xz' from apricityos.com : Resolving timed out after 10520 milliseconds.
warning: failed to retrieve some files
error: failed to commit transaction (download library error)
Errors occurred, no packages were upgraded.

*****When i was going to install atom in my arch , this error occurred.

[2016-06-23 05:43] tensor5 commented on #15
You are talking about someone else's repository.

Settings for this repository are [here](https://wiki.archlinux.org/index.php/Unofficial_user_repositories#atom), and package name is simply `atom`:

[code]

[2016-06-23 05:43] #15 closed

[2016-06-23 07:21] repsac-by commented on #10
On hidpi display font is too small. Do not scaled as it should. Before gtk3 all was well.

[2016-06-23 07:24] tensor5 commented on #10
@repsac-by Can you attach a screenshot?

[2016-06-23 07:28] repsac-by commented on #10
![2016-06-23 10-27-51](https://cloud.githubusercontent.com/assets/4984191/16295080/32a10132-392d-11e6-8e60-204c01cbb81d.png)

[2016-06-23 07:36] tensor5 commented on #10
Can you manually increase the font size in Atom, or does it look weird?

I don't have a hidpi display, but I noticed that `gnome-tweak-tool` has a setting Fonts -> Scaling Factor. Have you tried that one?

[2016-06-23 07:43] tensor5 commented on #10
I also found this https://wiki.archlinux.org/index.php/HiDPI#GDK_3_.28GTK.2B_3.29
Please try and let me know.

[2016-06-23 07:44] repsac-by commented on #10
Setting the font size in the atom only affects the source code editor.

Yes it is in the gnome-tweak-tool has HiDPI factor 2. Before gtk3 electron scaled, but now no longer. Other applications on the electron look the same, not only Atom.

[2016-06-23 07:49] tensor5 commented on #10
I'll revert to gtk2 in the next build.

[2016-06-23 07:50] repsac-by commented on #10
`GDK_SCALE=2`  it changes the scale

[2016-06-23 07:51] tensor5 commented on #10
Strange, I tried on mine and didn't do anything.

[2016-06-23 07:57] repsac-by commented on #10
Even if you set GDK_SCALE=1 the scale remains correct. It turns out it is important the very existence of environment variable.

[2016-06-23 08:04] tensor5 commented on #10
If your problem is completely solved, we will stay with gtk3 for now and see if other issues come up.

[2016-06-23 08:09] repsac-by commented on #10
Well, not completely, but I am willing to suffer for a while. :+1:

[2016-06-23 08:24] repsac-by commented on #10
if I can help someone, I myself did launcher `/usr/local/bin/electron`
[code]

[2016-06-23 08:35] tensor5 commented on #10
Can you test it in both Wayland and X? I may include the export in the electron launcher script.

[2016-06-23 09:14] repsac-by commented on #10
For wayland completely different behavior.  `GDK_SCALE=1` not scale, only `GDK_SCALE=2`.
And I had to change launcher `/usr/lib/electron/electron` to `/usr/bin/electron`.

[2016-06-23 10:49] willotter commented on #10
I also experienced this issue. Adding `GDK_SCALE=1` fixes it in X for me. Will try in Wayland later if I have time.

Thanks for the solution btw

[2016-06-23 12:27] tensor5 commented on #10
I noticed that `GDK_SCALE=2` doesn't change anything for me, and my resolution is 1366x768. I wonder if there is a minimum resolution above which `GDK_SCALE` has effect. If so the following `/usr/bin/electron` should work for everybody:

[code]

We should test this setting across different displays.

BTW @repsac-by is `--ignore-gpu-blacklist` relevant here?

[2016-06-23 12:31] repsac-by commented on #10
Sorry `--ignore-gpu-blacklist` is not true to scale, I just activate the accelerated graphics.

[2016-06-23 13:03] tensor5 commented on #10
I just noticed that although `GDK_SCALE=2` doesn't scale my atom window, it does scale the Open File and Open Folder windows.

@repsac-by @willotter I guess you will have the same problem `GDK_SCALE=1`: a small file chooser window.

[2016-06-23 13:28] willotter commented on #10
@tensor5 With X and `GDK_SCALE=1` I get a correct sized file chooser on my HiDPi screen. With `GDK_SCALE=2` atom is all the same size but the file chooser is huge.

Also btw @repsac-by I used to use `--ignore-gpu-blacklist` but it all seems to work without it now so might be worth trying.

[2016-06-24 07:48] tensor5 commented on #10
Electron should now work out of the box on HiDPI displays, at least on X.

[2016-06-29 04:27] chanakaDe commented on #15
When I use the command "pacman -S atom" , there's also an error.
This is the error message "error: target not found: atom".
What's this ? Something wrong in my system ?

[2016-06-29 07:21] tensor5 commented on #15
First you should add the `[atom]` repository to your `/etc/pacman.conf`. Add the following two lines at the end of `/etc/pacman.conf`:

[code]

Second you need to add and sign my PGP key, with this commands (as root)

[code]

Lastly you can install the package with `pacman -S atom`. Try and let me know if you still have problems.

[2016-07-01 17:37] chanakaDe commented on #15
warning: database file for 'atom' does not exist
error: target not found: atom

Same error :(
It's ok then. I think my machine cannot install Atom.... :(
Plz tell me if u have any suggestions bro :(
Did everything u said earlier

[2016-07-01 19:58] fusion809 commented on #12
@ivankravets This issue does not seem to be resolved, with `platformio-ide-terminal` 2.0.10 (don't worry, I'm not confusing your package with my fork &mdash; I removed my fork and used your package and found this error) and the latest build of Atom from this repo the terminal provided by this package doesn't load at all.

![screenshot from 2016-07-02 05-56-34](https://cloud.githubusercontent.com/a

[2016-07-01 20:05] fusion809 commented on #12
Here is the Chrome dev tools log when using the default build of Atom (http://paste2.org/x57Cb5JH) with `platformio-ide-terminal` opened, using that build this package works fine. While with this build of Atom I get this log (URL: http://paste2.org/dpA0aPtM).

[2016-07-01 20:09] fusion809 commented on #12
Oops, I suppose this isn't new, sorry guys for pingin' yas. It isn't new as platformio-ide-terminal still uses the old pty.js. Using the new version of pty.js fixes it.

[2016-07-01 20:13] fusion809 commented on #12
I just applied this fix to my `terminal-fusion` fork ([commit a962490](https://github.com/fusion809/terminal-fusion/commit/a962490)).

[2016-07-02 01:19] tensor5 commented on #15
I assume your already added the `[atom]` repository and PGP key, as my previous post. I forgot to mention that you should refresh the db first:

[code]

[2016-07-02 03:07] chanakaDe commented on #15
 chanaka  ~  sudo pacman -Sy                                              1 
:: Synchronizing package databases...
error: failed retrieving file 'apricity-core.db' from apricityos.com : Resolving timed out after 10521 milliseconds
error: failed to update apricity-core (download library error)
 core is up to date
 extra is up to date
 multilib is up to date
 community is up to date
error: failed

[2016-07-02 03:21] tensor5 commented on #15
It might be a network problem on your side. Can you access `http://noaxiom.org/atom/x86_64/` with your browser?

[2016-07-02 04:11] tensor5 commented on #12
The problem is still with the obsolete `nan` package in `pty.js`.

[2016-07-02 15:58] chanakaDe commented on #15
Yeah I can. There's a table of .deb versions.....
Name	Last modified	Size like that.
I really want to install Atom. Because I used in Windows and it's really nice and i'm used to it.
No any solutions ?

[2016-07-03 06:27] tensor5 commented on #15
By chance, are you on a 32bit system? Currently I only package for x86_64.

[2016-07-03 06:51] chanakaDe commented on #15
Nope.. I'm using 64 Bit...

[2016-07-03 08:17] tensor5 commented on #15
Since you can access `http://noaxiom.org/atom/x86_64`, for now you can download the packages manually and install them with `pacman -U`, until we figure out. Download `electron-1.2.5-1-x86_64.pkg.tar.xz`, `nodejs-atom-package-manager-1.11.4-1-x86_64.pkg.tar.xz` and `atom-1.8.0-3-x86_64.pkg.tar.xz` and install them in this order:

[code]

[2016-07-05 01:08] fusion809 opened #16 "Setting up an Arch Linux repository using GitHub"
Hi,

I've forked your repository (it's not listed as a fork by accident as I deleted the original forked repository from my GitHub account and then created an arch-atom repository and committed my local copy of the original forked repo to it) [fusion809/arch-atom](https://github.com/fusion809/arch-atom) so I can provide customized Atom packages. Now I'm mentioning this because I've learnt somethin

[2016-07-05 02:07] tensor5 commented on #16
Thank you for the tip; I keep the noaxiom.org server and domain also for other stuff, including the Arch repository [[haskell-happstack]](https://github.com/tensor5/haskell-happstack).

I looked at your fork, and I noticed that one major feature is a custom package choice. I would propose to investigate the possibility to make Arch packages of individual Atom packages that could be installed at sy

[2016-07-05 23:05] fusion809 commented on #16
Thanks. You wouldn't happen to know why `/usr/lib/node_modules/atom-package-manager/bin/apm update` returns:

`Could not determine current Atom version installed`

would ya?

[2016-07-06 01:06] tensor5 commented on #16
I think apm requires that atom version is a semantic version, while you have a very very long string.

https://github.com/atom/apm/blob/master/src/upgrade.coffee#L70

[2016-07-08 18:10] chanakaDe commented on #15
WOW.. This works...
Thank you very much :+1:

[2016-07-12 07:24] echpiel opened #18 "Manu bar with white text on light backgroud"
I am using Gnome Desktop, everything up to date (including Atom from this repository).

The text in the menu bar is rendered in white on some light grey background, making it very difficult to read.

![image](https://cloud.githubusercontent.com/assets/12746147/16758471/feb9883c-4811-11e6-81fc-3cfa2746d798.png)

In similar systems (same Desktop and version of Atom, for example in Fedora 24) there i

[2016-07-12 08:00] tensor5 commented on #18
This happened after switching to GTK3 (see https://github.com/tensor5/arch-atom/issues/10#issuecomment-227922223). Other distributions opt for the more traditional GTK2 build.

I'm trying to solve it. Meantime I recommend using the Auto Hide Menu Bar option, which allows you to toggle the menu bar with `Alt`, and enjoy the GTK3 file chooser.

[2016-07-19 14:52] sabian2008 commented on #6
I'm having this issue too: atom.db 404 error while database syncing.

However using the web browser I'm able to see the files. Nonetheless I didn't download it manually because the folder it's name x86_64 and I'm in an i686 system. Could that be the problem in pacman too? I think it might be looking for http://noaxiom.org/atom/i686.

[2016-07-19 15:18] tensor5 commented on #6
@sabian2008, currently I don't provide i686 packages, but stay tuned, I might build for i686 in the near future.

[2016-07-19 16:20] sabian2008 commented on #6
Sorry for that. I saw some i686 references in the commits and got excited. Probably should have read better.

Thanks for the quick response and for your work.

Cheers,

[2016-07-20 01:02] #18 closed

[2016-07-20 01:33] tensor5 commented on #10
Commit fe61a99cf3b3387177277d2b6aa16d74531076c1 fixes the issue of white text in the menu bar (see #18).

[2016-07-20 09:44] willotter opened #21 "Missing/Incorrect dependency on explict version of libhttpparser"
I have just upgraded electron (version `1.2.7-2`) and I get the following error:
[code]
`http-parser` package appears to updated two days ago https://www.archlinux.org/packages/community/i686/http-parser/ . Is there any reason for the explicit dependency on `libhttp_parser.so.2.7.0` rather than `libhttp_parser.so`?

My workaround for the moment is to the symlink `libhttp_parser.so.2.7.0` to `libht

[2016-07-20 09:56] tensor5 commented on #21
`http-parser-2.7.1` for x86_64 showed up in the update just few hours ago. The library soname is `libhttp_parser.so.2.7.x`, hence the explicit dependency on that version.
I will rebuild tomorrow.

[2016-07-20 12:23] repsac-by commented on #21
quick fix
[code]

save and run `makepkg -i`

[2016-07-21 00:48] #21 closed

[2016-07-23 23:33] fusion809 opened #23 "Heads up: libvpx 1.6.0 in staging causes Electron build to fail"
Hi,

Just thought I'd mention that libvpx 1.6.0, which is in the `[staging]` repo causes the build of Electron 1.2.8 to fail, with the error:

[code]

With the version in the `[extra]` repo (i.e., 1.5.0) it builds fine, so I thought you should be made aware so ya can prepare your Electron PKGBUILD for when libvpx 1.6.0 enters the `[extra]` repo.

Thanks for your time,
Brenton

[2016-07-24 00:51] tensor5 commented on #23
Thanks for the heads up.
I checked now and also the upcoming electron 1.3, which uses chromium 52, requires the old header.

[2016-07-24 00:54] fusion809 commented on #23
Btw APM 1.12.3 is out, so you may wish to bump APM in this repo.

[2016-07-24 01:13] tensor5 commented on #23
👍

[2016-07-27 05:57] fusion809 commented on #23
Electron 1.3.1 is out now. I've tried just bumping pkgver and chromium ver to the latest versions, but building Electron 1.3.1 failed, so I'm gonna have to leave it to you, to adjust the patches.

[2016-07-27 06:19] tensor5 commented on #23
I fixed that in my local repository already.
The reason why I haven't released it yet is because there is a problem launching Atom with Electron 1.3, specifically NodeGit, one of Atom's dependencies, doesn't compile. I'm trying to disable it now, following https://github.com/atom/atom/pull/12167.

[2016-07-27 14:31] tensor5 opened #29 "Electron 1.3"
Electron 1.3 is available in the `electron-1.3`, however there are some major issues with Atom.

The first one is that the native NodeGit module doesn't compile with the new V8 api (see https://github.com/nodegit/nodegit/issues/1089). This can be solved by disabling it, which btw is also done upstream for a different reason (see https://github.com/atom/atom/issues/12159). We ported https://github.

[2016-07-27 15:29] City-busz commented on #29
Thanks for investigating this.

Here is a related issue:
https://github.com/nwjs/nw.js/issues/5142
And the solution:
https://github.com/greenheartgames/greenworks/commit/8ade75228aa1ba97f2961b06e7a9969e73ccb8c3
So apparently we need to replace these Set() functions with something else:
https://github.com/atom/marker-index/blob/master/src/native/marker-index-wrapper.cc#L21

[2016-07-27 15:47] City-busz commented on #29
Maybe updating nan dependency of marker-index could help:
https://github.com/atom/marker-index/blob/master/package.json#L39
https://github.com/nodejs/nan/commit/b9083cf6d5de6ebe6bcb49c7502fbb7c0d9ddda8

[2016-07-27 16:08] City-busz commented on #29
Or maybe try [this patch](https://github.com/tensor5/arch-atom/files/386527/fix-marker-wrapper.patch.txt). I didn't build Electron 1.3 myself, so I can't test it yet.

[2016-07-28 00:53] fusion809 commented on #29
I have built Electron 1.3.1 (instead of the 1.3.0 provided by this repo) by copying the `electron-1.3` branch's Electron src files to my [arch-atom](https://github.com/fusion809/arch-atom) repo. I also copied the changes to Atom to my repo and built a package from it. Unfortunately, however, this Atom build wouldn't run correctly.
![screenshot from 2016-07-28 10-52-07](https://cloud.githubusercont

[2016-07-28 04:28] tensor5 commented on #29
@City-busz thanks for your feedback.

I tried your patch, and I get this error:

[code]

I will look at it in more detail later.

Btw, you may already know this, if you want to test an individual native module you can install it (with apm or by setting the appropriate electron environment) then open and electron console with `electron -i` and `require` it. This will show you if it loads correctly

[2016-07-28 06:33] tensor5 opened #30 "Use asar"
Electron apps are usually packaged with [`asar`](https://github.com/electron/asar), as explained [here](http://electron.atom.io/docs/tutorial/application-packaging/).

In Atom [we disabled it](https://github.com/tensor5/arch-atom/blob/master/atom/PKGBUILD#L41) because the package [`asar-require`](https://github.com/electron/asar-require) didn't work with new Node. This has been fixed in version 0.

[2016-07-28 08:08] tensor5 commented on #29
@City-busz

I fixed [your patch](https://github.com/tensor5/arch-atom/files/387913/fix-marker-wrapper.patch.txt), now it compiles and loads.

[2016-07-28 17:25] City-busz commented on #30
I don't have a strong opinion, but if you decide to use asar, then please create a package for the 'asar' command-line tool, so users could easily unpack asar archives if they want.

[2016-07-29 06:04] tensor5 commented on #29
Atom now works with 1.3, you guys can try the last commit.

I noticed a bug where files in the tree-view that have been modified, first appear colored as they should, but if I bring the window in background and foreground again, they lose the color. This must be the nodegit patch.

Other than that, it runs fine.

[2016-07-31 08:45] fusion809 commented on #30
:+1: I fully supported the switch to asar. Atom is naturally a slow loader, so anything we can do to improve its startup time, even slightly, I think will be worth it.

[2016-07-31 08:48] fusion809 commented on #23
Btw it is sufficient to create a symbolic link (with `ln`) in order to overcome this libvpx issue. That is:

[code]

fixes this drama. So if you're stuck as to how to fix this issue by modifying Electron source code (like using a patch you apply in its PKGBUILD) you can merely add:

[code]

to its `package()` function.

[2016-07-31 20:25] rumpelsepp commented on #30
Are the builds repdoduceable with that tool?

[2016-08-01 00:49] tensor5 commented on #30
@rumpelsepp I pretty sure they are, but I'll verify it.
Asar is an archiving tool, similar to tar, but it also generates an index to speedup random access without having to unpack.

[2016-08-01 00:53] tensor5 commented on #23
Thanks. I'll see what other packages did.

[2016-08-01 09:15] City-busz commented on #23
@fusion809 No, you should never do this, because it's likely broken at some point. And neither work if you build the packages from the sources.

It was a mistake on libvpx update. I reported it here: https://bugs.archlinux.org/task/50222 Once it gets fixed, we can use system libvpx again. But until that, you can switch back to use internal libvpx, like it was done in the chromium package: https://

[2016-08-01 19:59] City-busz commented on #23
It's fixed in libvpx 1.6.0-2, a simple rebuild should be enough.

[2016-08-02 01:20] tensor5 commented on #23
One less thing to think about.

[2016-08-02 14:08] tensor5 commented on #29
In fact, the git status highlight problem in tree-view is also present in Atom 1.9, and oddly enough it's not been reported yet.

Btw, I'll release the Electron 1.3.x package tomorrow.

[2016-08-03 01:31] fusion809 opened #31 "Electron 1.3.2 fails to build with current PKGBUILD"
Hi,

I have taken the electron PKGBUILD from the electron-1.3 branch of this repo and changed its pkgver to 1.3.2 and after it compiled for ~1-2 hours it spit out this error:

[code]

You can find my precise PKGBUILD [here](https://github.com/fusion809/arch-atom/blob/master/electron/PKGBUILD). Building Electron 1.3.1 occurs without error. Bumping Atom to 1.9.1 was as simple as simply adjusting the

[2016-08-04 02:59] #29 closed

[2016-08-04 02:59] #31 closed

[2016-08-04 03:09] tensor5 opened #33 "Unbundle protobuf"
We disabled the use of system `protobuf` in Electron 1.3 due to this error:

[code]

We'll try and re-enable again once version 3.0.0 is out.

[2016-08-05 09:53] willotter commented on #23
I am encountering this error which I presume is related:
[code]

Is this something I can fix myself? Sorry pretty new to Arch. Thanks

[2016-08-05 10:40] fusion809 commented on #23
Sure is. You will have to manually compile Electron against your new version of libvpx. To do so just run:

[code]

beware compiling Electron manually from source can take quite some time (for me it takes >2 hours). Alternatively you can get my Electron binary which is built against the latest libvpx. You can get it via running:

[code]

[2016-08-05 11:38] #23 closed

[2016-08-05 14:17] tensor5 commented on #1
Currently the only unused shared libraries are in Atom; this is the relevant `namcap` output:

[code]

According to [this GCC bug report](https://bugzilla.redhat.com/show_bug.cgi?id=1287805) this is a consequence of the fact that `pthread` symbols are referenced through weak symbols, therefore we cannot do anything here other than closing the issue.

[2016-08-05 14:17] #1 closed

[2016-08-09 11:53] repsac-by opened #34 "linux-lts + Electron 1.3.2-3 blank screen"
Electron 1.3.2-3  lanched with white screen.
Atom 1.9.6-1 crashed at startup.

X11 and Wayland the same behavior.

[2016-08-09 13:14] tensor5 commented on #34
Mmm... how about `electron -i`?

[2016-08-09 13:42] repsac-by commented on #34
@tensor5 it's work
[code]

[2016-08-09 19:44] repsac-by commented on #34
The problem is specific to `linux-lts 4.4.16`
Electron 1.3.2-3 on `linux 4.6.4`  works

[2016-08-10 00:34] tensor5 commented on #34
That explains why I didn't hit the problem. For curiosity, did Chromium 52 work on `linux-lts`?

[2016-08-10 03:09] fusion809 opened #35 "Atom's relocation to the [community] repository"
Hi,

I noticed in your last commit (88ca674) that you mentioned this Atom package moving into the `[community]` repo and I must say it's about time! :+1:  The `atom-editor` package has been the most voted package in the AUR for so long that I'm surprised it hasn't already been added to the `[community]` repository. Although I'd like to suggest that the Atom package added to the `[community]` repo

[2016-08-10 04:39] repsac-by commented on #34
`linux-lts` + `chromium 52.0.2743.85-2` all right.

[2016-08-10 04:53] tensor5 commented on #35
@fusion809 you might want to read the discussion in #24 about apm being a separate package: @City-busz made a point there that apm could be used as a build tool for other Electron based packages. We will see how that works in real world.

Regarding asar packaging, I will implement it once things settle down a little; it's still convenient for me sometimes to be able to quickly look at Atom modules

[2016-08-10 04:53] #35 closed

[2016-08-10 05:01] tensor5 commented on #34
You said that electron starts with a blank screen; by chance, are you able to open a developer console there with `ctrl+shift+I`?

[2016-08-10 05:21] repsac-by commented on #34
`ctrl+shift+I`  nothing happens, just a blank screen

[2016-08-11 17:08] tensor5 commented on #6
@sabian2008 Atom for i686 is now in [community].

[2016-08-12 01:11] tensor5 commented on #34
Tried `linux-lts` with `electron-1.3.3-1` and confirm the issue. The output of `dmesg`:

[code]

[2016-08-12 02:00] tensor5 commented on #34
It works with `electron-1.3.2-2`, which makes me think that it has something to do with 256d7b9601d6d061c483e476aeee6afb227473af.

[2016-08-12 12:25] pesho commented on #34
@tensor5, in response to your question here: https://bugs.archlinux.org/task/50357#comment149928 I  confirm experiencing the same, and I'm also using `linux-lts`.

[2016-08-13 06:24] NicoHood opened #36 "Atom crash on startup"
Hey,
I switched from the normal atom AUR package to the official one. But when I start Atom I get:
![screenshot_2016-08-13_08-22-35](https://cloud.githubusercontent.com/assets/6888294/17641813/2459f28a-612f-11e6-9f44-5b2d68465bf2.png)

All I did was to uninstall the old package via -Rs and install the new package. Running on kernel 4.4.16-1 with atom-1.9.8-2. I did not do a reboot yet, as I cannot

[2016-08-13 06:37] tensor5 commented on #36
Duplicate of #34.

[2016-08-13 06:37] #36 closed

[2016-08-13 06:43] NicoHood commented on #36
Okay, i wasent sure if its the same bug.

[2016-08-13 06:46] tensor5 commented on #36
No problem.

[2016-08-13 17:57] Frizi commented on #34
I confirm, atom crashes at startup and electron alone starts blank. Works on non-lts kernel.

**Workaround:** install latest version of `electron-prebuilt` package from npm, atom will pick it up automatically after shell restart.

[code]

[2016-08-13 20:46] remexre commented on #34
I'm getting this bug with the `linux-samus4` kernel, `uname -r` is `4.4.2-6ph`. Workaround works here too; can anyone give an explanation for why using the system toolchain would *cause* as illegal instruction, rather than the inverse? (Assuming it is `256d7b9`).

[2016-08-13 23:45] tensor5 commented on #34
I tried reverting 256d7b9601d6d061c483e476aeee6afb227473af, but it doesn't solve the issue.

[2016-08-13 23:57] stefanhusmann commented on #34
The bug seems to be there again in stock Arch Linux kernel 4.7 .

[2016-08-14 00:02] tensor5 commented on #34
It works with `4.7.0-1-ck`.

[2016-08-14 00:37] tensor5 commented on #34
@stefanhusmann It works for me also on `4.7.0-1-ARCH`. What architecture is your machine?

[2016-08-14 00:43] remexre commented on #34
http://blog.llvm.org/2011/05/what-every-c-programmer-should-know.html

It sounds like we're invoking UB? The actual function that's giving the error looks like:

[code]

We crash on the [ud2](http://x86.renejeschke.de/html/file_module_x86_id_318.html) instruction, which intentionally causes SIGILL for debugging purposes. gdb has trouble reading the stack, possibly(?) because `crash_here` never cre

[2016-08-14 01:08] tensor5 commented on #34
This is the diff between the `.BUILDINFO`s of `electron-1.3.2-2` (my old working copy) and `1.3.2-3`:

[code]

Maybe the updated `linux-api-headers` and `glibc` could play a role here.

[2016-08-14 01:15] remexre commented on #34
I'm guessing glibc, but it's a guess; there's a lot of calls to `munmap`, `mprotect`, `madvise`, etc. in the general neighborhood. I'm hand-decompiling right now, I'll update when done. Just for ref. though, alignment rules mean that `0x18a4291` is *not* the start of the crashing function; I think that it's `0x18a4260`, but it might be `0x18a4240` or earlier. The stack frame got all screwed up, so

[2016-08-14 01:54] remexre commented on #34
[code]

I'm translating this roughly to:

[code]

[2016-08-14 02:53] remexre commented on #34
I'm in [`vendor/node/deps/v8/src/base/platform/platform-posix.cc`](https://github.com/electron/node/blob/ee8c429deaee0adeeef069c3ad34c0defe53a567/deps/v8/src/base/platform/platform-posix.cc). From my previous post:

 * `foo` is [`OS::Free`](https://github.com/electron/node/blob/ee8c429deaee0adeeef069c3ad34c0defe53a567/deps/v8/src/base/platform/platform-posix.cc#L101)
 * `bar` is [`OS::Guard`](http

[2016-08-14 03:24] tensor5 commented on #34
@remexre thanks for debugging work :+1:

I will try compiling with gcc next time, that would explain why chromium is not affected by this bug.

[2016-08-14 03:29] remexre commented on #34
No problem; I need more practice with assembly weirdness for machine architecture class :stuck_out_tongue: I'm more than willing to help test, just comment here when you update the PKGBUILD.

[2016-08-14 09:49] SShrike opened #37 "What's up with the GTK2 build time dep for Electron?"
I was looking at the Electron PKGBUILD and noticed that it has a [makedepend on GTK2](https://github.com/tensor5/arch-atom/blob/master/electron/PKGBUILD#L14), despite the fact that it's apparently built with GTK3 support now as of #10 and has a runtime dependency on GTK3.

Is this an error or is it some intricacy of Electron?

[2016-08-14 14:19] tensor5 commented on #37
Right now Electron has no runtime or buildtime dependency on GTK2, however during the initial stage of the build process the Chromium part of the build does `pkg-config gtk-2.0`; rather than patching Chromium I opted for including gtk2 in makedepends.

[2016-08-14 17:40] stefanhusmann commented on #34
I'm at 64 bit.

[2016-08-14 18:01] remexre commented on #34
@stefanhusmann, could you post the output of `lscpu`?

[2016-08-14 18:43] NicoHood commented on #34
I do not have this bug with 4.7-1. However I got a totally different (unrelated) bug that my laptop display does not work at all. Oh boy...

[2016-08-14 18:48] remexre commented on #34
@repsac-by, @pesho, @Frizi, could you all also post the `lscpu` and `uname -r` outputs?

[2016-08-14 18:53] repsac-by commented on #34
@remexre
[code]

[code]

with `4.7.0-1-ARCH` I have no problems

[2016-08-14 18:54] remexre commented on #34
For me (my `lscpu` is above):

|Kernel| `uname -r` | Crash? |
|:--:|:--:|:--:|
|`linux-samus4`|`4.4.2-6ph`|Yes|
|`linux-lts`|`4.4.16-1-lts`|Yes|
|`linux`|`4.7.0-1-ARCH`|No|

I might try building a kernel 4.7.0 with the same `.config` as `linux-lts`, and vice versa, and see if that makes a difference. If not, I'm going to try to see which kernel version it is that causes the issue.

[2016-08-14 19:31] SShrike commented on #37
I see now, thanks for the clarification.

[2016-08-14 20:27] pesho commented on #34
@remexre sure:

[code]

[code]

[2016-08-14 21:07] remexre commented on #34
gg 1hr of compiling later, OOM... I should probably build outside of a memory-limited VM...

@repsac-by, @pesho, thanks! If we're getting the issue on AMD and Intel, across several microarchitectures, it's probably nothing related to an "actual" invalid opcode anywhere...

[2016-08-15 10:00] tensor5 commented on #34
No good news with GCC either.

[2016-08-16 01:18] remexre commented on #34
Is it related to one of our patches, then?

[2016-08-16 01:45] tensor5 commented on #34
It may be, although I lean more towards the upgraded glibc. Upstream binaries are built using a sysroot, that could be the reason why they are not affected.
I'm setting up a build server, so that I will be able to handle rebuilds much more quickly.

[2016-08-16 11:52] SShrike opened #38 "Visual Bugs in the Settings View"
There seems to be some visual bugs in the settings view, I've attached [a video](https://github.com/tensor5/arch-atom/files/420153/2016-08-16.23-45-45.tar.gz) as it's simpler than trying to explain.

The visual bugs happen when I launch Atom in safe mode as well, so I don't think it has anything to do with my packages. I'm running a completely updated (as of 11:51 PM NZST, 16/08/16), stock Arch sy

[2016-08-17 06:34] SShrike opened #39 "The "Reload Window" keyboard shortcut doesn't work"
I can't reload the window using the `Ctrl+Alt+R` keyboard shortcut, it does however work if I manually click on the menu bar entry under View -> Developer -> Reload Window. The issue happens when Atom is launched in safe mode as well.

[2016-08-17 06:40] SShrike commented on #8
@tensor5, the issue with Keytar might be fixed now: atom/node-keytar#40 and atom/node-keytar#41.

[2016-08-17 07:34] tensor5 commented on #39
Thanks, I'll look into it.

[2016-08-17 07:37] tensor5 commented on #8
Apm is already picking up the latest `keytar`.

[2016-08-17 09:07] tensor5 commented on #39
`Ctrl-Alt-R` works for me. Open `Keybindings` and see if by chance you overwrote it.

[2016-08-18 03:18] tensor5 commented on #34
@remexre I recompiled with debugging, and now I have this extra information:

[code]

[decommitSystemPages](https://github.com/scheib/chromium/blob/afb8f54b782055923cadd711452c2448f3f7b5b4/third_party/WebKit/Source/wtf/allocator/PageAllocator.cpp#L223)

Does this tell you anything?

[2016-08-18 03:38] SShrike commented on #39
My keymap is left as default and the issue still persists, also the default shortcut is shown in the menu bar as well.

Perhaps it's related to me using KDE/Plasma 5? Are you using Gnome?

[2016-08-18 03:39] SShrike commented on #8
Sorry hahaha, I missed the obvious message "apm: don't pin keytar version" right above my comment.

[2016-08-18 03:43] SShrike commented on #39
Further investigation with the keybinding resolver shows that Atom (or Electron?) is only picking up Ctrl and Alt from the sequence. It seems to only not pick up the R key though, as the rest work fine. I'm going to got look through the Plasma/KDE keybindings to see if something is blocking it.

[2016-08-18 03:46] SShrike commented on #39
Okay, I've found what it was, the global keyboard shortcut "Manually Invoke Action on Current Clipboard" seemed to be blocking it.

![screenshot_20160818_154523](https://cloud.githubusercontent.com/assets/4061736/17761381/d38ad22c-655a-11e6-83d8-6168113a4a62.png)

[2016-08-18 03:48] #39 closed

[2016-08-18 05:46] tensor5 commented on #34
Can it be the [MADV_FREE](https://github.com/scheib/chromium/blob/afb8f54b782055923cadd711452c2448f3f7b5b4/third_party/WebKit/Source/wtf/allocator/PageAllocator.cpp#L227)? `man  madvise` says that it's been introduced in Linux 4.5.

[2016-08-18 06:06] repsac-by commented on #34
@tensor5   chromium from repo used [path](https://git.archlinux.org/svntogit/packages.git/tree/trunk/chromium-52.0.2743.116-unset-madv_free.patch?h=packages/chromium) which disables MADV_FREE
Probably for this reason it works on linux-lts 4.4.

[2016-08-18 06:17] tensor5 commented on #34
@repsac-by Thanks for pointing at that 👍, I'll include that patch in the next release.

[2016-08-18 06:47] tensor5 commented on #34
For the record, this is the diff of `/usr/include/bits/mman-linux.h` between `glibc` `2.23-5` and `2.24-2`:

[code]

[This line](https://github.com/scheib/chromium/blob/afb8f54b782055923cadd711452c2448f3f7b5b4/third_party/WebKit/Source/wtf/allocator/PageAllocator.cpp#L45) and the diff above explain why the older `electron` compiled with the older `glibc` worked.

[2016-08-18 07:31] remexre commented on #34
Okay, I must've missed that somehow; I think `ag` only searches submodules if they're not `.gitignore`'d? Still not sure why this'd get a `ud2`, but if Atom works on old kernels again, close?

[2016-08-18 07:54] tensor5 commented on #34
I guess `ud2` is generated by [RELEASE_ASSERT](https://github.com/scheib/chromium/blob/afb8f54b782055923cadd711452c2448f3f7b5b4/third_party/WebKit/Source/wtf/allocator/PageAllocator.cpp#L228).

[2016-08-18 07:54] tensor5 commented on #38
Thanks for reporting.

[2016-08-18 07:57] SShrike commented on #38
I'm currently at my PC, so if there's any more information you need, don't hesitate to ask.

[2016-08-18 07:58] remexre commented on #34
Right, because `__builtin_trap()`. I've still got `ud2` internalized as "undefined behavior," rather than "probably but maybe also these other ten things." :P

[2016-08-18 08:27] tensor5 commented on #38
I'm on `Settings > Themes` and I opened the developer console (`CTRL+ SHIFT+ I`). I don't understand why there is that extra vertical space in the body of `<div class="section packages themes-panel">...</div>`.

[2016-08-18 08:44] SShrike commented on #38
Can you not see it on your installed copy?

[2016-08-18 10:02] tensor5 commented on #38
I can. Trying to share what I'm doing, in case somebody wants to help.

[2016-08-18 13:03] #34 closed

[2016-08-18 14:24] tensor5 commented on #34
Feel free to reopen if the problem persists.

[2016-08-20 08:53] #38 closed

[2016-08-20 08:55] SShrike commented on #38
Wohoo! Thanks for the speedy fix :)

What exactly was causing it, considering  `height: 100%;` works in stock Atom?

[2016-08-20 09:31] tensor5 commented on #38
`height: 100%` seems wrong to me regardless, I've know idea why that was not causing troubles in stock Atom. I'm going to open a PR in `settings-view` later on.

[2016-08-24 08:26] #37 closed

[2016-08-24 08:26] #16 closed

[2016-08-31 13:58] fusion809 opened #40 "apm install fails to runs correctly with Node.js 6.5.0 in the atom PKGBUILD"
Hi,

I've noticed that since the release of Node.js 6.5.0 the running of `apm install` in Atom's top-level source directory (as the atom PKGBUILD does at [line 72](https://github.com/tensor5/arch-atom/blob/master/atom/PKGBUILD#L72)) fails, as `apm install` just freezes and doesn't proceed past the stage of:

[code]

even after waiting for >2 hours! I've started a new task at the Arch Linux Bugzill

[2016-08-31 14:00] fusion809 commented on #40
Just to be clear this error **did not** occur with Node.js 6.4.0. I've been forced to downgrade to Node.js 6.4.0 in order to get past this error. This error **does not** seem to affect the installing of extra APM packages (e.g., with `apm install script`), once Atom has been installed. It only seems to be occur when it is run in Atom's source directory.

[2016-08-31 14:08] tensor5 commented on #40
Hi,

I successfully built `atom-1.9.9-3`  a few hours ago with Node 6.5.0. Could it be a temporary network problem on your side?

[2016-08-31 14:13] fusion809 commented on #40
Did you do a clean build? (i.e., did ya pass the `-C` option to `makepkg`?) Good question, but sadly I doubt it. My net is excellent and with Node.js 6.4.0 everything builds fine. With 6.5.0 I've tried at least 5 times with no success. Every time there was nothing wrong with my net, I could access web pages, perform downloads and uploads without a problem.

[2016-08-31 14:33] tensor5 commented on #40
I built on Arch's server in a clean chroot environment. Tried now on my laptop and it's installing.
I've no idea right now on what can cause this issue. Try a few hours later and let me know if it persists.

[2016-09-08 07:04] juvevood commented on #10
black theme was wrong
![black](https://cloud.githubusercontent.com/assets/1421513/18340077/9a3185ca-7568-11e6-9ce9-4694240a2ec6.png)

[2016-09-08 08:35] tensor5 commented on #10
@juvevood, what theme are you using?

[2016-09-08 09:08] juvevood commented on #10
@tensor5  Adapta (https://github.com/tista500/Adapta)

[2016-09-11 09:22] tensor5 commented on #10
@juvevood, I fixed the menu bar text in 31dc83846050b2acb1dad7c2604b2075ec445777. However, there is still the issue with the menu item becoming black when hovered.

[2016-09-12 01:22] juvevood commented on #10
@tensor5 ，Thank you！I also feedback the problem to the author of the theme, I tried other themes there is no problem

[2016-09-18 06:48] tensor5 commented on #10
@juvevood I think I can fix it, just need some time.

Once I've done with this and a few other details, I'll PR a comprehensive gtk3 patch to Electron.

[2016-09-20 03:58] tensor5 commented on #40
https://bugs.archlinux.org/task/50614.

[2016-09-20 03:58] #40 closed

[2016-09-26 16:29] stleon commented on #12
the same problem =(

[2016-09-26 18:45] fusion809 commented on #12
@stleon use my fork of the `platformio-ide-terminal` package then, [`terminal-fusion`](https://github.com/fusion809/terminal-fusion). It has the solution to this problem applied. If you like the package feel free to star it with APM or on GitHub.

[2016-09-28 11:00] tensor5 commented on #10
@repsac-by and @willotter, I changed the way Electron handles HiDPI in 5e21d0d7193adc9a2fa4b44c2801c07a540b115f, can you tell me if the new settings work correctly on your screens? (I don't have a HiDPI screen).

[2016-09-28 11:15] tensor5 commented on #10
@willotter your version is correct, thank you.

[2016-10-11 20:39] rumpelsepp opened #41 "Atom 1.11 is out"
http://blog.atom.io/2016/10/11/atom-1-11.html

[2016-10-20 03:07] juvevood commented on #41
### 1.12 is out  >.<

[2016-10-20 04:42] rumpelsepp commented on #41
1.12 is beta, isn't it?

On October 20, 2016 5:07:06 AM GMT+02:00, juve <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-20 04:50] SShrike commented on #41
Yes, [1.12 is the current beta](http://blog.atom.io/2016/10/11/atom-1-11.html#atom-112-beta).

[2016-10-20 04:55] rumpelsepp commented on #41
Then you should report it to the respective AUR packages. This is the repo for atom stable.

On October 20, 2016 6:50:16 AM GMT+02:00, Severen Redwood <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-20 12:11] fusion809 commented on #41
I'm surprised it's taking so long for Atom 1.11.x to be added to the `[community]` repo. Guessing @tensor5 is having trouble thanks to the new build system for Atom &geq;1.11.

[2016-10-20 12:35] tensor5 commented on #41
I've been packed with work these weeks. I can do boilerplate updates, but for atom 1.11 you'll have to wait the weekend.

[2016-10-22 15:38] #41 closed

[2016-10-31 17:39] fusion809 opened #42 "APM needs to be re-compiled against Node.js 7"
Hi,

Whenever I run `apm update` I get the error message:

[code]

this error message seems to me to be saying you need to re-compile APM against the new Node.js. So please bump APM's pkgrel to get the Arch Linux build servers to do the required rebuild.

Thanks for your time,
Brenton

[2016-11-01 12:36] tensor5 commented on #42
Thanks. I reported it the nodejs maintener https://bugs.archlinux.org/task/51628.

[2016-11-02 15:34] #42 closed

[2016-11-03 14:27] doraskayo opened #43 "Can't cut/copy/paste since electron 1.4.5-1"
When `electron 1.4.5-1` is installed, trying to cut, copy or paste in Atom throws an error. It works just fine when downgrading to `electron 1.4.4-1`. Tested in `atom 1.11.2-1` on a Wayland session.

Here's the stack trace:
[code]

[2016-11-08 19:16] NicoHood commented on #1
The linked bug is closed as EOL, but it still exists even on arch. Is there any more information about that, as this github issue is the first hit about this issue?

I've seen this error in multiple packages now and its really annoying.

[2016-11-08 21:46] tensor5 commented on #1
It bothers me too, but apparently according to the link above this is a "feature" of GCC C++ runtime.

[2016-11-13 00:18] fusion809 opened #44 "An error when starting Terminal with Atom 1.12.2 and Electron 1.4.6"
Hi,

With the following:

**Atom Version**: 1.12.2
**Electron Version**: 1.4.6
**System**: "Arch Linux"
**Thrown From**: Atom Core

when starting terminal-fusion's terminal I get the errors:

### Stack Trace
[code]

[code]

### Config

[code]

### Installed Packages

[code]

Thanks for your time,
Brenton

[2016-11-13 23:43] doraskayo commented on #43
Seems to be fixed in electron 1.4.6-1.

[2016-11-13 23:43] #43 closed

[2016-11-14 09:25] tensor5 commented on #44
Thanks for reporting, I'll look into it.

[2016-12-08 13:11] rumpelsepp opened #45 "hunspell as optional dep"
When someone wants to use the spellchecking plugin, then `hunspell-*` must be installed. It makes sense for me to add those as optional deps.

[2016-12-08 14:08] tensor5 commented on #45
It's a good idea!
Right now Atom looks for dictionaries in `/usr/lib/atom/node_modules/spellchecker/vendor/hunspell_dictionaries` ([code here](https://github.com/atom/node-spellchecker/blob/master/lib/spellchecker.js#L61)). I could make a patch and make it point at `/usr/share/hunspell` which is where Arch installs `hunspell-*` dictionaries.

[2016-12-08 16:17] rumpelsepp commented on #45
Really? I installed the packages from the arch repos, which place the dicts in `/usr/share/myspell/dicts/de_DE.dic`. Atom seems to find them.

[2016-12-08 17:10] tensor5 commented on #45
Well, then there is no need to patch. So the question is whether a package that has spellchecking features should have dictionaries among its optional dependencies. Seems like the arch-dev mailing list is the right place to raise this issue.

[2016-12-16 15:15] DatBewar opened #46 "Azerty layout broken"
Hi since last update, all azerty shortcuts are broken, this is fixed in this issue:
https://github.com/atom/atom/issues/13170
Can you update please?
Thanks

[2016-12-17 16:32] #46 closed

[2016-12-17 16:33] tensor5 commented on #46
Should work now. Thanks!

[2016-12-24 08:14] fusion809 opened #47 "Any interest in providing a Visual Studio Code (OSS) package for Arch Linux built on this repo's build of Electron?"
Hi,

I realize this is off-topic for a bug-tracker but as I don't know your email address this seems like the best way to contact ya with this question. I am just curious if you have any interest in providing a Visual Studio Code (OSS) package in the `[community]` repo of Arch Linux that utilizes the `electron` package you provide in the `[community]` repo?

Thanks for your time,
Brenton

[2016-12-24 16:47] tensor5 commented on #47
Hi,

Yes, I do have a plan to bring Visual Studio Code to [community]. BTW my email is at the second line of all my [PKGBUILD](https://github.com/tensor5/arch-atom/blob/master/electron/PKGBUILD#L2)s :)

[2016-12-24 16:49] fusion809 commented on #47
Rofl, sorry and thanks. I'll close this issue as it's now resolved.

[2016-12-24 16:49] #47 closed

[2017-01-08 02:08] tista500 commented on #10
@tensor5,

Hi I'm an author of Adapta-gtk-theme.
I now have 3 questions about your patch to employ Gtk+ 3.x backends for GtkMenuBar and GtkMenuItem.

1. https://github.com/tensor5/arch-atom/blob/master/electron/gtk3-menu-bar.patch#L46
That pointer seems to be shared to fill the background-area in both `menubar` node and `menubar > menuitem` node, right?

2. In Gtk+ 2.x, we usually set styling for

[2017-01-10 15:54] tensor5 commented on #10
Hi @tista500,

Thank you for looking into this issue.

1 and 2. The original GTK2 code of Electron only had one background color, picked with:

[code]

(see https://github.com/electron/electron/blob/master/atom/browser/ui/views/menu_bar.cc#L35)

I tried to replicate that in GTK3, however sometimes the background color is not defined in the css node of menubar, so I use `if (background_color_ptr->a

[2017-01-10 23:24] rumpelsepp opened #48 "atom 1.3"
I am sure you are aware of this. Just to make sure there is a ticket that could be closed. 😀

http://blog.atom.io/2017/01/10/atom-1-13.html

[2017-01-11 13:06] #48 closed

[2017-03-13 20:58] yohanboniface opened #49 "noaxiom.org down?"
I got timeout errors.

http://downforeveryoneorjustme.com/noaxiom.org seems to agree on this. :/

Thanks! :)

[2017-03-13 23:16] tensor5 commented on #49
Should be up now. BTW, packages are in [community].

[2017-03-14 07:29] #49 closed

[2017-03-20 13:03] willotter opened #50 "os.tmpDir missing"
I get this error message when running `apm update` or doing an update in the interface.
[code]

Running `atom --version` I get:
[code]

I reinstalled via the community repo. Do you want me to report bugs there or here?

[2017-04-21 12:56] drxos opened #51 "Atom can't run"
I installed atom with `pacman -S atom`. But it failed running with no error. How can I fix this issue ?

[2017-04-21 13:20] tensor5 commented on #51
What version are you running? (`pacman -Q atom`)

[2017-08-17 07:16] pszafer commented on #51
I have same error as @drxos , but I will provide some more info...

[code]

Run atom from gnome desktop:
[code]

running directly
[code]

giving in journal:
[code]

About:
GNOME Shell 3.24.3

[2017-08-22 11:14] eigan opened #52 "Atom 1.19"
Any progress on this? Been released for a while

[2017-08-22 13:24] tensor5 commented on #52
It requires Electron 1.6, I have to update that one first.

[2017-10-22 17:27] #52 closed

[2018-02-13 07:44] ll931217 commented on #51
Mine doesn't run either, nothing shows up on my journal or I am not running it properly. I did run atom directly from `/usr/bin/atom` but nothing shows up, no errors.

    atom 1.23.3-2

[2018-02-13 09:14] tensor5 commented on #51
@ll931217, can you run `electron /usr/lib/atom` and report me what is the output?

[2018-02-13 12:37] tensor5 commented on #51
What `electron` package are you using?

[2018-02-13 12:38] ll931217 commented on #51
The global one which is the same version as my local one which is `v1.8.2`

[2018-02-13 12:39] tensor5 commented on #51
Wait... I said `electron /usr/lib/atom`, not `electron /usr/bin/atom`

[2018-02-13 12:41] tensor5 commented on #51
And you should use electron downloaded with pacman: `pacman -S electron`

[2018-02-13 12:42] ll931217 commented on #51
Oh, oops haha sorry.

[code]

[2018-02-13 12:43] tensor5 commented on #51
Exactly!  You are using the wrong electron version. Download it with pacman.

[2018-02-13 12:49] ll931217 commented on #51
Thank you @tensor5, that fixed it.

[2018-04-22 15:41] #51 closed

[2018-04-22 15:47] tensor5 commented on #42
@Xananax, can you tell me what is the apm command that triggered the error and the exact output?

[2018-04-23 15:35] tensor5 commented on #42
BTW, the command to update atom packages from the command line is `apm update`.

[2018-04-23 15:42] tensor5 commented on #42
What version of nodejs are you running?

[2018-04-23 16:28] Xananax commented on #42
I used the default package. However,

I think you put your finger on it; I don't have the regular `nodejs` package, I am using, for some reason [nodejs-lts-carbon](https://www.archlinux.org/packages/community/x86_64/nodejs-lts-carbon/). I have no recollection of this, some package must've needed it and I switched them without thinking.

I confirm that if I uninstall `pacman -R nodejs-lts-carbon` a

[2018-04-23 16:37] tensor5 commented on #42
Thanks for reporting, I will add the dependency `nodejs>=9` in the next release.

[2018-04-25 12:24] twifty opened #53 "Opening in dev mode problems"
I've just built and installed atom (v1.26) from source to verify that this is not an upstream issue.

On a clean install, I add the single package `atom-ide-ui`. Everything appears to run fine until you open a folder with the `--dev` flag (or click View -> Developer -> Open In Dev Mode..). The new atom window will complain about Incompatible Dependencies within the `atom-ide-ui` package. Rebuildin

[2018-04-25 19:56] tensor5 commented on #53
As far as the issue is only in dev mode I'll consider it low priority, I'll fix it when I have some free time. Of course help is always welcome.

[2018-06-04 09:27] robguinness commented on #4
I had the same issue. After installing ffmpeg, the issue went away.

[2018-08-19 22:17] itshaadi opened #54 "Help wanted: Electron ARM Build"
I want to use system installed FFmpeg with Eelectron on my Raspberry Pi and seems like you've made it all working, although it's X64 and I need it to be ARM, so any thoughts? any changes that I have to be aware of before trying it out? any libraries that I have to build or install on my device other than FFmpeg?

and does it take full advantage of FFmpeg? because I need to render x264 1080p@60fps

[2018-08-27 10:41] tensor5 commented on #54
Hi,
Did you try building it already? If you have some specific build failure I can help you with it.
I tried playing some YouTube videos using the [Min](https://github.com/minbrowser/min) browser based on Electron, and it works. Do you have any specific test that I could run to be sure it plays x264?

[2018-08-31 11:56] itshaadi commented on #54
I did eventually build it, through I figured out that it's not entirely up to FFmpeg. lack of proper rendering is caused by chromium because it doesn't have the proper patches to use the GPU so it dumps all the processing work on CPU.

I tried [wexond](https://github.com/wexond/wexond) before and it didn't work but it looks like min is using electron 3 now, so I'll give it a try

[2019-07-28 12:44] skerit commented on #49
@tensor5 Seems like it's down again!

[2019-08-02 10:10] tensor5 commented on #49
@skerit, packages are in [community].

[2022-01-27 08:19] beans816 opened #56 "/usr/lib/electron13/electron: error while loading shared libraries: libavcodec.so.58: cannot open shared object file: No such file or directory"
Similar to a previous issue - ffmpeg has updated beyond 58
[code]